
html {
  font-size: 10px
  color: black;
  width: 600px;
  font-family: 'Niramit', sans-serif;
  background-color: #4184C7;
  padding: 20px 20px 20px 20px;
  /*border: 5px dashed black;*/
}

body {
  width: 500px;
  margin: 0 0;
  background-color: #FF9500;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 33px;
  text-align: center;
  width: 500px;
  background-color: red;
  color: green;
  margin: 10;
  padding: 20px 0;
  color: #4184C7;
  text-shadow: -3px 3px 1px black;
  /*text-decoration-line: line-through;
  text-decoration: underline;*/
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display:block;
  margin: auto auto;
  width: 386px;
  height: 500px;

}

/*
.root_website {
  color: green;
  width: 300px;
}

#id_1 {
  color: blue;
  width: 300px;
  border: 1px dashed black;
}

#id_2:hover {
  color: red;
  width: 300px;
}
